<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">


</head>
<body>
    <div class="container-fluid ">
       
        <div class="nav-bar" id = "nav">
            <img  class ="logo-image" src="/images/h.png" alt="">
            <a href="#">HOME</a>
            <a href="#">CONTACT</a>
            <a href="#">RESUME</a>
            <a href="javascript:void(0);" class = "menu-icon" onClick = "myfunction()">
                <i class = "fa fa-bars fa-3x "></i>
              </a>
        </div>
                 
                  <div class = "container-heading m-md-5 grid grid--1x2">
                          <div class = "heading_container ">    
                        
                            <div class="heading ">Hi, I am <span class = "text-info">Harita</span></div> 
                            <p class = "large_heading1 ">web development </p>     
                            <p class = "large_heading2 ">front end </p>
                            <p class = "large_heading3 ">back end </p>   
        
                                <div class="d-flex">
                                    <img class = "logo-icon" src="/images/javascript.png" alt="">
                                    <img class = "logo-icon" src="/images/html.png" alt="">
                                    <img class = "logo-icon" src="/images/css.png" alt="">
                                    <img class = "logo-icon" src="/images/nodejs.png" alt="">
                                    <img class = "logo-icon" src="/images/rect.png" alt="">
                                    <img class = "logo-icon" src="/images/mongodb.png" alt="">
                                    <img class = "logo-icon" src="/images/git.png" alt="">                       
                            
                            
                                </div>
                            
                          </div>
                          <div class = "image-container">
                              <!-- <i class="fas fa-laptop-code icon-image-group"></i> -->
                              <img class = "icon-image" src="/images/icon.png" alt="">
                              <img class = "icon-image-addon" src="/images/computer.png" alt="">
                              <img class = "icon-image-addon" src="/images/cloud.png" alt="">
                          
                          
                          </div>
                  </div>
            .
              <div class="container m-auto mt-5">
  
  
              <div class="fs-5 text-muted mt-5">MERN</div>
              <div class="grid grid--1x2 grid--1x3">
                  <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4 p-lg-2  btn-title ">ECOMMERCE-APP </div> 
                  </div>
                  <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4 p-lg-2 btn-title mx-auto">
                      <a href = "https://cryptic-atoll-36789.herokuapp.com" target="_blank">NETLY -[WHATSAPP-CLONE]</a> 
                  </div> 
                  </div>
                  <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4  p-lg-2 btn-title mx-auto">MOVIE-LIBRARY CRUD </div> 
                  </div>
  
              </div>
  
  
              <div class="fs-5 text-muted  ">LANDING PAGES</div>
  
              <div class="grid grid--1x2 grid--1x3">
                  <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4 p-lg-2  btn-title ">TINDOG </div> 
                  </div>
                  <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
                  <div class = "p-4 p-lg-2 btn-title mx-auto">AYURVEDA RESORT </div> 
                      
                  </div>
                  <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4  p-lg-2 btn-title mx-auto"> INTERIOR DESIGNER PORTFOLIO</div> 
                      
                  </div>
              </div>
              <div class="fs-5 text-muted  ">Vannila JS</div>
  
              <div class="grid grid--1x2 grid--1x3">
                  <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4 p-lg-2  btn-title ">MEMORY CARD GAME </div> 
                  </div>
                  <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
                  <div class = "p-4 p-lg-2 btn-title mx-auto">CALCULATOR</div> 
                      
                  </div>
                  <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
                      <div class = "p-4  p-lg-2 btn-title mx-auto"> upcoming</div> 
                      
                  </div>
  
              </div>  
  
              <hr class = "fa-horizontal-rule"/>
  
            <div class="grid grid--1x2">
                <div class="contact--image">
  
                </div>
                <div class="contact-form">
                    <form action="">
                        <div class="input--card">
                              <label for="name" class="lead">Name</label>
                              <input class = "form-control" type="text"/>
                              <label for="email">email</label>
                              <input class = "form-control" type="email"/>
                              <label for="message">Message</label>
                              <input class = "form-control" type="textarea"/>
                              <button type = "submit">send</button>
                      </div>
                    </form>
                </div>
            </div>
  
          </div>         
  
  
  
             
              
  </div>
</body>
</html>