<div class = "container">
    <div class = "heading_container ">    

       <div class="heading ">Hi, I am <span class = "text-info">Harita</span></div> 
       <p class = "large_heading ">i write code </p>       
       <div class="d-flex">
           <img class = "logo-icon" src="/images/javascript.png" alt="">
           <img class = "logo-icon" src="/images/html.png" alt="">
           <img class = "logo-icon" src="/images/css.png" alt="">
           <img class = "logo-icon" src="/images/nodejs.png" alt="">
           <img class = "logo-icon" src="/images/rect.png" alt="">
           <img class = "logo-icon" src="/images/mongodb.png" alt="">
           <img class = "logo-icon" src="/images/git.png" alt="">

            

   
       </div>
       
   </div>
   <div class = "image-container">
       <!-- <i class="fas fa-laptop-code icon-image-group"></i> -->
       <img class = "icon-image" src="/images/icon.png" alt="">
       <img class = "icon-image-addon" src="/images/computer.png" alt="">
       <img class = "icon-image-addon" src="/images/cloud.png" alt="">


   </div>
</div>