<nav class="navbar  navbar-expand-lg justify-content-end mx-5">
    <ul class="nav justify-content-end text-dark nav-pills">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RESUME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SOCIAL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-moon"></i></a>
        </li>
      </ul>
</nav>