<div class="container m-auto mt-5">


    <div class="fs-5 text-muted mt-5">MERN</div>
    <div class="grid grid--1x2 grid--1x3">
        <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
            <div class = "p-4 p-lg-2  btn-title ">ECOMMERCE-APP </div> 
        </div>
        <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
            <div class = "p-4 p-lg-2 btn-title mx-auto">
            <a href = "https://cryptic-atoll-36789.herokuapp.com" target="_blank">NETLY -[WHATSAPP-CLONE]</a> 
        </div> 
        </div>
        <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
            <div class = "p-4  p-lg-2 btn-title mx-auto">MOVIE-LIBRARY CRUD </div> 
        </div>

    </div>


    <div class="fs-5 text-muted  ">LANDING PAGES</div>

    <div class="grid grid--1x2 grid--1x3">
        <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
            <div class = "p-4 p-lg-2  btn-title ">TINDOG </div> 
        </div>
        <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
        <div class = "p-4 p-lg-2 btn-title mx-auto">AYURVEDA RESORT </div> 
            
        </div>
        <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
              <div class = "p-4  p-lg-2 btn-title mx-auto"> INTERIOR DESIGNER PORTFOLIO</div> 
            
        </div>
    </div>
    <div class="fs-5 text-muted  ">Vannila JS</div>

    <div class="grid grid--1x2 grid--1x3">
        <div class="btn-design m-2 btn-info border border-white shadow p-3 mb-5  rounded">
            <div class = "p-4 p-lg-2  btn-title ">MEMORY CARD GAME </div> 
        </div>
        <div class="btn-design m-2 btn-pink border border-white shadow p-3 mb-5  rounded">
        <div class = "p-4 p-lg-2 btn-title mx-auto">CALCULATOR</div> 
            
        </div>
        <div class="btn-design m-2 btn-orange border border-white shadow p-3 mb-5  rounded">
              <div class = "p-4  p-lg-2 btn-title mx-auto"> upcoming</div> 
            
        </div>

    </div>  

</div>         
